*
{
margin: 0px;
padding: 0px;
position: relative;
}
body{
background-color: rgb(83, 127, 165);
}
#wrapper
{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 25px;
padding: 10px;
}

#result{
    width: 280px;
    height: 25px;
    padding: 5px;
    text-align: right;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;

}
.btn
{

}